.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #a5a5a5;
  border-color: #a5a5a5;
}

.page-item.disabled .page-link {
  color: #868e96;
  pointer-events: none;
  background-color: #fff;
  border-color: #ddd;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #a5a5a5;
  background-color: #fff;
  border: 1px solid #ddd;
}

.page-link:focus, .page-link:hover {
  color: #2c2d31;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #ddd;
}